name: ios-build-action
on:
  workflow_dispatch:  # 仅手动触发

jobs:
  build-ios:
    runs-on: macos-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Generate timestamp version
        run: |
          CURRENT_DATE=$(date +"%Y%m%d-%H%M%S")
          echo "TAG_NAME=build-$CURRENT_DATE" >> $GITHUB_ENV

      - name: Create Tag
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"
          git tag ${{ env.TAG_NAME }}
          git push origin ${{ env.TAG_NAME }}

      - name: Flutter action
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.x'
          cache: true

      - name: Build and Package iOS
        run: |
          cd simple_live_app
          flutter pub get
          flutter build ios --release --no-codesign
          mkdir -p build/ios/iphoneos/Payload
          cp -R build/ios/iphoneos/Runner.app build/ios/iphoneos/Payload/Runner.app
          cd build/ios/iphoneos/
          zip -q -r ios_no_sign.ipa Payload
          echo "IPA文件创建完成"

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.TAG_NAME }}
          name: "iOS Build"
          body: "自动构建的iOS应用"
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
          files: simple_live_app/build/ios/iphoneos/ios_no_sign.ipa

      - run: echo "✅ iOS构建完成"
